# Ignore terraform provider folder
.terraform
# Ignore terraform dependency lock file
.terraform.lock.hcl
# Ignore terraform state file
terraform.tfstate
# Ignore terraform backup state file
terraform.tfstate.backup